<h1>Add product</h1>

<form [formGroup]="newProductCreationForm" (ngSubmit)="productSubmitForm()">
  <div class="row">
    <div class="col-lg-6">
      <label for="exampleInputEmail1" class="form-label">Product Name</label>
      <input
        [class.is-invalid]="name?.invalid && name?.touched"
        [class.is-valid]="name?.valid && name?.touched"
        type="text"
        formControlName="name"
        class="form-control"
      />

      <div *ngIf="name?.invalid && name?.touched">
        <small *ngIf="name?.errors?.required" class="text-danger"
          >Product name is required</small
        >
        <small *ngIf="name?.errors?.minlength" class="text-danger"
          >Product name must be minimum length of 5</small
        >
        <small *ngIf="name?.errors?.maxlength" class="text-danger"
          >Product name must be maximum length of 30</small
        >
      </div>
      <!-- <small
        [class.d-none]="
          newProductCreationForm.get('name')?.valid ||
          newProductCreationForm.get('name')?.untouched
        "
        class="text-danger"
        >Product name is required.</small
      > -->
    </div>
    <div class="col-lg-6">
      <label for="exampleInputEmail1" class="form-label">Price</label>
      <input
        [class.is-invalid]="price?.invalid && price?.touched"
        [class.is-valid]="price?.valid && price?.touched"
        type="text"
        formControlName="price"
        class="form-control"
      />
      <div *ngIf="price?.invalid && price?.touched">
        <small class="text-danger" *ngIf="price?.errors?.required">Price is required</small>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-lg-12">
      <label for="exampleInputEmail1" class="form-label"
        >Product Description</label
      >
      <textarea [class.is-invalid]="description?.invalid && description?.touched" [class.is-valid]="description?.valid && description?.touched"
        class="form-control"
        placeholder=""
        id="floatingTextarea"
        formControlName="description"
      ></textarea>
      <div *ngIf="description?.invalid && description?.touched">
        <small *ngIf="description?.errors?.required" class="text-danger">Product description is required</small>
        <small *ngIf="description?.errors?.minlength" class="text-danger">Product description should be minimum of length 30</small>
      </div>
    </div>
  </div>
  <button [disabled]="newProductCreationForm.invalid" class="btn btn-primary" style="margin-top: 20px">Add</button>
</form>
