<div class="card product-card" style="width: 18rem">
    <div class="card-body">
      <img
        src="https://via.placeholder.com/150"
        class="card-img-top"
        alt="..."
      />
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">$</h6>
      <p class="card-text">
       
      </p>
      <div class="anchortags">
        <a routerLink="/product-edit" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-primary">Delete</a>
      </div>
    </div>
  </div>