<h1>Edit User</h1>

  <form>
      <div class="row">
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputUsername" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleInputUsername" />
    </div>
</div>

<div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    </div>
      </div>


      <div class="row">
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputMobile" class="form-label">Mobile</label>
      <input type="text" class="form-control" id="exampleInputMobile" />
    </div>
</div>
      </div>

      <div class="row">
<div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    </div>
      



      
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputConfirmPassword1" class="form-label"
        >Confirm password</label
      >
      <input
        type="password"
        class="form-control"
        id="exampleInputConfirmPassword1"
      />
    </div>
    </div>
      </div>


      <div class="row">
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputGender" class="form-label">Gender</label>
      <br />
      <input type="radio" name="gender" id="btnradio1" autocomplete="off" />Male

      <input
        type="radio"
        name="gender"
        id="btnradio2"
        autocomplete="off"
      />Female
    </div>
    </div>



    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputCountry" class="form-label">Country</label>
      <input type="text" class="form-control" id="exampleInputCountry" />
    </div>
    </div>
      </div>


      <div class="row">
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputState" class="form-label">State</label>
      <input type="text" class="form-control" id="exampleInputState" />
    </div>
    </div>


    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="exampleInputCity" />
    </div>
    </div>
      </div>

    
      <div class="row">
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputZipCode" class="form-label">ZipCode</label>
      <input type="text" class="form-control" id="exampleInputZipCode" />
    </div>
    </div>

    <div class="col-lg-5">
    
    </div>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

