<h1>Edit User</h1>

  <form [formGroup]="newUserCreationForm" (ngSubmit)="editUser()">
      <div class="row">
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputUsername" class="form-label">Username</label>
      <input type="text" formControlName="username" class="form-control" id="exampleInputUsername" />
    </div>
</div>

<div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    </div>
      </div>


      <div class="row">
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputMobile" class="form-label">Mobile</label>
      <input type="text" class="form-control" id="exampleInputMobile" formControlName="mobile"/>
    </div>
</div>
      </div>

      <div class="row">
<div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"/>
    </div>
    </div>
      



      
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputConfirmPassword1" class="form-label"
        >Confirm password</label
      >
      <input
        type="password"
        class="form-control"
        id="exampleInputConfirmPassword1"
        formControlName="confirmPassword"
      />
    </div>
    </div>
      </div>


      <div class="row">
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputGender" class="form-label">Gender</label>
      <br />
      <input type="radio" name="gender" value="M" id="btnradio1" autocomplete="off" formControlName="gender"/>Male

      <input
        type="radio"
        name="gender"
        id="btnradio2"
        autocomplete="off"
        formControlName="gender"
        value="F"
      />Female
    </div>
    </div>



    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputCountry" class="form-label">Country</label>
      <input type="text" class="form-control" id="exampleInputCountry" formControlName="country"/>
    </div>
    </div>
      </div>


      <div class="row">
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputState" class="form-label">State</label>
      <input type="text" class="form-control" id="exampleInputState" formControlName="state"/>
    </div>
    </div>


    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="exampleInputCity" formControlName="city"/>
    </div>
    </div>
      </div>

    
      <div class="row">
    <div class="col-lg-5">
    <div class="mb-3">
      <label for="exampleInputZipCode" class="form-label">ZipCode</label>
      <input type="text" class="form-control" id="exampleInputZipCode" formControlName="zipCode"/>
    </div>
    </div>

    <div class="col-lg-5">
    
    </div>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{newUserCreationForm.value | json}}

