<h1>Products</h1>
<div class="row" style="display: flex; flex-direction: row; justify-content: flex-end; margin-right:35px; margin-bottom:20px;">
  <a routerLink="/product-create" class="btn btn-primary">Add product</a>
</div>
<div class="row">
 
  <div
    class="col-lg-4"
    *ngFor="let product of products"
    style="margin-bottom: 30px"
  >
    <div class="card product-card" style="width: 18rem">
      <img
          src={{product.imgsrc}}
          class="card-img-top"
          alt="..."
        />
      <div class="card-body">
        
        <h5 class="card-title">{{product.name | titlecase}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{product.price | currency}}</h6>
        <p class="card-text cards-paragraph">
         {{product.description}}
        </p>
        <div class="anchortags">
          <a routerLink="/product-edit" class="btn btn-primary">Edit</a>
          <button class="btn btn-primary" (click)="deleteProduct(product.id)">Delete</button>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- *ngFor="let product of products" -->
