<div class="container-fluid dashboard-container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <ul>
        <li>
          <a class="dashboard-dashboard" routerLink="/">Dashboard</a>
        </li>
        <li>
          <a class="dashboard-product" routerLink="/product-view">Product</a>
        </li>
        <li>
          <a class="dashboard-user" routerLink="/user-view">User</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
